<form class="mt-4" [formGroup]="productForm" (ngSubmit)="addPost()">
  <div class="mb-3">
    <label for="title">Título</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Nombre del producto"
      formControlName="title"
      [ngClass]="validClasses(productForm.controls.title, 'is-valid', 'is-invalid')"
    />
    @if (productForm.controls.title.errors?.['required']) {
      <div class="invalid-feedback">El titulo no puede estar vacío</div>
    }
    @if(productForm.controls.title.errors?.['minlength']) {
      <div class="invalid-feedback">
        Debes introducir
        {{productForm.controls.title.errors?.['minlength'].requiredLength - productForm.controls.title.errors?.['minlength'].actualLength}}
        carácteres más
      </div>
    }
  </div>
  <div class="mb-3">
    <label for="description">Descripción</label>
    <textarea
      class="form-control"
      id="description"
      rows="3"
      placeholder="Descripción..."
      formControlName="description"
      [ngClass]="validClasses(productForm.controls.description, 'is-valid', 'is-invalid')"
    ></textarea>
    @if (productForm.controls.description.errors?.['required']) {
      <div class="invalid-feedback">La descripción no puede estar vacía</div>
    }
  </div>
  <div class="mb-3">
    <label for="price">Precio</label>
    <input
      type="number"
      step="0.01"
      class="form-control"
      id="price"
      placeholder="Precio"
      formControlName="price"
      [ngClass]="validClasses(productForm.controls.price, 'is-valid', 'is-invalid')"
    />
    @if (productForm.controls.price.errors?.['required']) {
      <div class="invalid-feedback">El precio no puede estar vacío</div>
    }
    @if (productForm.controls.price.errors?.['positiveValue']) {
      <div class="invalid-feedback">El precio debe ser mayor de 0</div>
    }
  </div>
  <div class="mb-3">
    <label for="category">Categoría</label>
    <select
      id="category"
      class="form-select"
      formControlName="category"
      [ngClass]="validClasses(productForm.controls.category, 'is-valid', 'is-invalid')"
    >
      <option value="0" selected>-- Seleccione una opción --</option>
      @for (category of categories; track category) {
        <option value="{{ category.id }}">{{ category.name }}</option>
      }
    </select>
    @if (productForm.controls.category.errors?.['positiveValue']) {
      <div class="invalid-feedback">Debes seleccionar una categoría</div>
    }
  </div>
  <div class="mb-3">
    <label for="image">Foto principal</label>
    <input
      type="file"
      class="form-control"
      accept="image/*"
      (change)="changeImage($event)"
      id="image"
      formControlName="mainPhoto"
      [ngClass]="validClasses(productForm.controls.mainPhoto, 'is-valid', 'is-invalid')"
    />
    @if (productForm.controls.mainPhoto.errors?.['required']) {
      <div class="invalid-feedback">Debes seleccionar una foto para el producto</div>
    }
  </div>
  <img
    [src]="imageBase64"
    alt=""
    class="img-thumbnail mb-3"
    [ngClass]="{ 'd-none': imageBase64.length === 0 }"
  />

  <div>
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="productForm.invalid">Crear</button>
  </div>
</form>