<div class="mt-4 mb-4">
  @if(product.status < 3) {
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary" (click)="buyProduct()">Comprar</button>
      @if(product.mine) {
        <button class="btn btn-secondary" (click)="showPhotos()">
          Gestionar fotos
        </button>
      }
    </div>
  } @else {
    <div class="alert alert-info">
      <h5 class="d-inline-block me-2">
        Producto comprado por:
        <a [routerLink]="['/profile', product.soldTo?.id]" class="name">{{
          product.soldTo?.name
        }}</a>
      </h5>
      <a [routerLink]="['/profile', product.soldTo?.id]"
        ><img
          class="rounded-circle avatar d-inline-block"
          [src]="ownerPhotoUrl + product.soldTo?.photo"
          alt="Foto propietario"
      /></a>
    </div>
  }
</div>
@if(!managePhotos()) {
  <div class="mt-4">
    <product-card
      class="col"
      [product]="product"
      (deleted)="deleteProduct()"
      (favChanged)="favoriteChanged()"
    />
  </div>
} @else {
  <div class="d-flex align-items-center justify-content-center">
    <h2 class="d-inline-block me-3">Gestión de fotos</h2>
    <label class="btn btn-sm btn-dark my-auto">
      <fa-icon [icon]="imageIcon" />
      <input type="file" class="d-none" (change)="changeImage($event)" />
    </label>
  </div>
  <div class="mb-4 mt-1 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    @for (photo of product.photos; track photo.id) {
      <div class="col">
        <div class="card h-30 shadow">
          <img
            class="card-img-top mx-auto img-fluid photo"
            [src]="photo.url"
            alt="Foto producto"
          />
          <div class="card-footer bg-transparent text-muted">
            <div class="row">
              <div class="d-flex justify-content-between">
                @if(product.mainPhoto === photo.url) {
                  <h5 class="mx-auto">Foto principal</h5>
                } @else {
                  <button
                    class="btn btn-outline-secondary btn-sm"
                    (click)="changeMainPhoto(photo.id)"
                  >
                    <fa-icon [icon]="mainIcon"></fa-icon>
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm"
                    (click)="deleteImage(photo.id)"
                  >
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                  </button>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
}
<div class="mt-4 mb-4">
  <button class="btn btn-success" (click)="goBack()">Volver</button>
</div>
