<div class="col">
  <div class="card h-100 shadow">
    @if(!product.photos) {
      <img
        class="card-img-top"
        [src]="product.mainPhoto"
        alt="Foto principal de producto"
        [routerLink]="['/products', product.id]"
      />
    } @else {
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper row">
            <img
              [src]="product.mainPhoto"
              alt="Foto principal"
              [routerLink]="['/products', product.id]"
              class="card-img-top photoCarousel mx-auto img-fluid"
            />
          </div>
          @if(product.mine) {
            <div class="carousel-caption mainPhoto mx-auto">
              <h3>Foto principal</h3>
            </div>
          }
        </ng-template>
        @for (photo of product.photos; track photo.id) {
          @if(photo.url !== product.mainPhoto) {
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper row">
                <img
                  [src]="photo.url"
                  alt="Foto producto"
                  [routerLink]="['/products', product.id]"
                  class="card-img-top photoCarousel mx-auto img-fluid"
                />
              </div>
            </ng-template>
          }
        }
      </ngb-carousel>
    }
    <div class="card-body">
      <h5 class="card-title" [routerLink]="['/products', product.id]">
        {{ product.title }}
      </h5>
      <p class="card-text" [innerText]="product.description"></p>
      <div class="row text-muted">
        <div class="col">{{ product.category.name }}</div>
        <div class="col-auto">
          {{ product.price | currency : "EUR" : "symbol" }}
        </div>
      </div>
    </div>
    <div class="card-footer bg-transparent text-muted">
      <div class="row">
        <div class="col-auto avatar ps-1 pe-1">
          <a [routerLink]="['/profile', product.owner.id]"
            ><img
              class="rounded-circle"
              [src]="product.owner.photo"
              alt="Foto propietario"
          /></a>
        </div>
        <div class="col">
          <a class="name" [routerLink]="['/profile', product.owner.id]">
            {{ product.owner.name }}
          </a>
          <div>
            <small class="text-muted">{{
              product.datePublished | date : "dd/mm/yyyy, HH:MM"
            }}</small>
          </div>
        </div>
        <div class="col-auto my-auto">
          @if(product.mine && product.status < 3) {
            <a
              class="btn btn-outline-success btn-sm me-1"
              role="button"
              [routerLink]="['/products', product.id, 'edit']"
              ><fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon
            ></a>
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="deleteProduct()"
            >
              <fa-icon [icon]="['fas', 'trash']"></fa-icon>
            </button>
          }
          <button
            class="btn btn-outline-danger btn-sm ms-1 borderless"
            (click)="changeFavorite()"
          >
            @if(product.bookmarked) {
              <fa-icon [icon]="['fas', 'heart']"></fa-icon>
            } @else {
              <fa-icon [icon]="['far', 'heart']"></fa-icon>
            }
          </button>
        </div>
        <div class="col-auto text-muted text-right">
          <div>
            <small
              >{{ product.numVisits }}
              <fa-icon [icon]="['far', 'eye']"></fa-icon
            ></small>
          </div>
          <div>
            <small>{{ product.distance.toFixed(2) }}km</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
