<div class="modal-header">
  <fa-icon
    [icon]="icon"
    class="text-primary fa-3x me-3 ms-2"
  ></fa-icon>
  <h4 class="modal-title">Plataforma de pago</h4>
  <button
    type="button"
    class="btn-close me-3"
    aria-label="Cerrar"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<div class="modal-body">
  @if (elementsOptions.clientSecret) {
    <ngx-stripe-elements
      [stripe]="stripe"
      [elementsOptions]="elementsOptions"
    >
      <ngx-stripe-payment [appearance]="appearance" />
    </ngx-stripe-elements>
  }
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-danger mx-auto"
    aria-label="Aceptar"
    (click)="activeModal.close(true)"
  >
    Limpiar datos
  </button>
  <button
    type="button"
    class="btn btn-primary mx-auto"
    aria-label="Cancelar"
    (click)="activeModal.close(false)"
  >
    Pagar {{ price | currency : "EUR" : "symbol" }}
  </button>
</div>
